
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	color: #aaa;
	background: #1f2a44;
	font-family: sans-serif;
	font-size: 16px;
}

a {
	color: #ccffff;
	text-decoration: none;
	opacity: 0.7;

	&:hover {
		opacity: 1;
		text-decoration: underline;
	}

	&:active {
		opacity: 0.6;
	}
}

.zone {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	padding: 1em;

	> img {
		width: 32em;
		max-width: 100%;
	}

	> .plate {
		padding: 0.5em;
		text-align: center;
		width: max-content;
		max-width: 100%;

		> * + * {
			margin-top: 0.5em;
		}

		> h1 {
			font-size: 3em;
			font-weight: normal;
			> :nth-child(1) { color: #3db2ca; }
			> :nth-child(2) { color: #8fc91b; }
		}

		> :is(local-counter, app-counter-display, app-counter-button, flat-counter) {
			background: #52ffc122;
		}
	}
}

